html, body {
    height: 100%;
}



.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

 The typewriter cursor effect
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}


#fancy-header {
    font-size: 100px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    margin-bottom: 2em;
    font-family: 'Alfa Slab One', cursive;
}


h1{
    font-family: 'Alfa Slab One', cursive;
}

/*parallax styling*/
.parallax {
    background-image: url("img/bird-box.jpg");
    height: 130px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide {
    background-image: url("img/bird-box.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide1 {
    background-image: url("img/bohemian-rhapsody.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide2 {
    background-image: url("img/crazy-rich-asians.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide3 {
    background-image: url("img/avengers-action.png");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide4 {
    background-image: url("img/game-night-movie.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide5 {
    background-image: url("img/hereditary.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide6 {
    background-image: url("img/incredibles.jpeg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide7 {
    background-image: url("img/neighbor.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide8 {
    background-image: url("img/sorry.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax-curtain{
    height: 100%;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0); /*In rgba, the a has no effect*/
}
/* END parallax styling*/

.hidden-on-load {
    display: none;
}

.hidden-edit-form {
    display: none;
    text-align: center;
}

.card {
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px black, 0 0 25px black, 0 0 50px darkblue;
}

.card-align {
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-left: 15em;
}



#add-movie-card{
    display: inline-block;
    height: 300px;
    width: 400px;
    padding-top: 2em;
    background-color: white;
    text-align: center;
    margin-left: 13em;
}

.left-margin: {
    margin-left: 23em;
}

/*loading animation------------------------------------------------------*/
/*if it's not present, don't show loader *!*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}
/*END loading animation----------------------------------------------------*/

/* css for star rating*/
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: gold;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px gold;
}
/*end of star rating */