html, body {
    height: 100%;
}

.parallax {
    background-image: url("img/avengers-action.png");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide {
    background-image: url("img/avengers-action.png");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide1 {
    background-image: url("img/crazy-rich-asians.jpg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide2 {
    background-image: url("img/bird-box.jpg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide3 {
    background-image: url("img/bohemian-rhapsody.jpg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide4 {
    background-image: url("img/game-night-movie.jpg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide5 {
    background-image: url("img/hereditary.jpg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide6 {
    background-image: url("img/incredibles.jpeg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide7 {
    background-image: url("img/neighbor.jpg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide8 {
    background-image: url("img/sorry.jpg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax-curtain{
    height: 100%;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0); /*In rgba, the a has no effect*/
}


.hidden-on-load {
    display: none;
}

.hidden-edit-form {
    display: none;
}

.card {
    background-color: whitesmoke;
}

.card-align {
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-left: 15em;
}





#add-movie-card{
    display: inline-block;
    height: 200px;
    width: 400px;
    padding-top: 2em;
    background-color: white;
    text-align: center;
    margin-left: 13em;
}

.left-margin: {
    margin-left: 23em;
}

/*loading animation------------------------------------------------------*/
/*if it's not present, don't show loader *!*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}
/*END loading animation----------------------------------------------------*/

/* css for star rating*/
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: gold;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px gold;
}
/*end of star rating */